* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
body {
    background-color: lavender;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar {
    background-color: #ab85cd;
    height: 80px;
    width: 100%;
    }

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bolder;
    }


.menu {
    float: right;
    margin-right: 20px;
    z-index: 100px;
}

.menu-item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.NavOp {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.NavOp:hover {
    text-decoration: underline;
    color:lavender;
}

.boton{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}






@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
        
    }
    .menu-item{
        display: inline-block;
        margin: 50px 0;
        line-height: 30px;
        margin-top: 1px;
    }
    .NavOp{
        font-size: 16px;
        color: #f4f3f6;
    }
    .NavOp:hover {
        text-decoration: underline;
        color: lavender;
    }
}

@media screen and (max-width: 700px){
 
    .logo{
        font-size: 20px;
        padding-left: 50px;
        
    }
    .menu-item{
        display: inline-block;
        margin: 50px 0;
        line-height: 30px;
        margin-top: 1px;
    }
    .NavOp{
        font-size: 15px;
        color: #f4f3f6;
    }
    .NavOp:hover {
        text-decoration: underline;
        color: lavender;
    }
}

@media screen and (max-width: 600px){
    .NavBar{
     height: 150px;
    }
    
     .logo{
         font-size: 30px;
         padding-left: 50px;
         
     }
     .menu-item{
         display: inline-block;
         margin: 50px 0;
         line-height: 30px;
         margin-top: 1px;
     }
     .NavOp{
         font-size: 15px;
         color: #f4f3f6;
     }
     .NavOp:hover {
         text-decoration: underline;
         color: lavender;
     }
 }