* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
body {
    background-color: lavender;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.NavBar {
    background-color: #ab85cd;
    height: 80px;
    width: 100%;
    }

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bolder;

    }

.menu {
    float: right;
    margin-right: 20px;
    z-index: 100;
}

.menu-item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.NavOp {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.NavOp:hover {
    text-decoration: underline;
    color:lavender;
}

.song:hover {
    text-decoration: underline;
    color:rgb(86, 17, 74);
}

.boton{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


.carrusel {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
  }

.foto {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    padding: 30px;
}

.heroFoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .prev {
    top: 45%;
    left: 2%;
  }
  
  .next {
    top: 45%;
    right: 2%;
  }
.seccion {
 text-align: center;
 color: #9d7dba;
 font-weight: bolder;
}

#Experience {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    background-color: #f1b2df;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(81, 45, 45, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    }

.projectFoto{
    max-width: 100%;
}

.nombre{
    text-align: center;
    color: #5f285e;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 20px;
}



.element{
    padding: 10px;
}


.techunit {
    padding-left: 1.5rem;
    background-image: url(bullet\ flor.png);
    background-position: 0 0;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    }

#aboutMe{
    display: grid;
    row-gap: 30px;
    column-gap: 10px;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
}

#fotoAle{
    max-width: 100%;
    margin-bottom: 10px;
}

#sobreMi{
    color: #642a72;
    padding-bottom: 5px;
}

.f{
    padding-top: 10px;
    font-size: 15px;
}

.lilbox {
    background-color: #f3e1ee;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(81, 45, 45, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "corto largo";
    }

.o{
    font-size: medium;
    padding-bottom: 10px;
}

.tituloChiqui{
    font-size: medium;
    padding-bottom: 15px;
    color: #5f285e;
}

.song{
    color:#642a72;

}

.books{
    color: #642a72;
}
    

@media screen and (max-width: 952px){


    .logo{
        font-size: 30px;
        padding-left: 50px;
        
    }
    .menu-item{
        display: inline-block;
        margin: 50px 0;
        line-height: 30px;
        margin-top: 1px;
    }
    .NavOp{
        font-size: 16px;
        color: #f4f3f6;
    }
    .NavOp:hover {
        text-decoration: underline;
        color: lavender;
    }
    #Experience {
        display: grid;
        row-gap: 30px;
        column-gap: 30px;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 80%;
    }
    #aboutMe{
        display: grid;
        row-gap: 30px;
        column-gap: 10px;
        width: 100%;
        padding: 30px;
        margin: 0 auto;
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 700px){
 
    .logo{
        font-size: 20px;
        padding-left: 50px;
        
    }
    .menu-item{
        display: inline-block;
        margin: 50px 0;
        line-height: 30px;
        margin-top: 1px;
    }
    .NavOp{
        font-size: 15px;
        color: #f4f3f6;
    }
    .NavOp:hover {
        text-decoration: underline;
        color: lavender;
    }
}

@media screen and (max-width: 600px){
    .NavBar{
     height: 150px;
    }
    
     .logo{
         font-size: 30px;
         padding-left: 50px;
         
     }
     .menu-item{
         display: inline-block;
         margin: 50px 0;
         line-height: 30px;
         margin-top: 1px;
     }
     .NavOp{
         font-size: 15px;
         color: #f4f3f6;
     }
     .NavOp:hover {
         text-decoration: underline;
         color: lavender;
     }
 }
